.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    height: 85px;
    width: 100vw;
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.705) 50%,var(--half-transparent-bl) 100%);
    
    color: var(--main-light-color);
    border-bottom: 0.5px solid;
    transition-duration: var(--hover-duration);
}




.headerHidden {
    transform: translateY(-100%);
}



.logo {
    height: 70px;
    width: 140px;
    z-index: 102;
    position: absolute;
    top: 5px;
    left: 20px;
    cursor: pointer;
}

@media (any-hover: none) {
    .logo {
        /* border-bottom: 0.5px solid ;
        border-right: 0.5px solid ;
        background-color: var(--half-transparent-bl); */
    }
}

.logo svg {
    max-width: 100%;
    height: 100%;
    fill: var(--main-light-color);
   
}

.nav__menu {
    position: fixed;

    background-color: rgba(0, 0, 0, 0.70);
    z-index: 100;
    transition-duration: var(--hover-duration);
    opacity: 1;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: scale(1);
}

/* @media (any-hover: none) {
    .nav__menu {
        right: 100vw;
    }
} */

.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transform: scale(0);
}

@media (any-hover: none) {
    .nav__menu {}
}


.button {
    position: absolute;
    top: 15px;

    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    border: 1px solid var(--main-light-color);
    background-color: var(--dark-bg-color);

    width: 50px;
    height: 50px;
    z-index: 103;

}

.button span {
    width: 70%;
    height: 2px;
    background-color: var(--main-light-color);
}

.button span:nth-child(2) {
    width: 35%;
}

.button span,
.active span {
    transition-duration: 0.5s;
}

.active span:nth-child(2) {
    width: 0;
}

.active span:nth-child(1) {
    transform: rotate(225deg) translateY(-11px) translateX(-11px);
    -webkit-transform: rotate(225deg) translateY(-11px) translateX(-11px);
    -moz-transform: rotate(225deg) translateY(-11px) translateX(-11px);
    -ms-transform: rotate(225deg) translateY(-11px) translateX(-11px);
    -o-transform: rotate(225deg) translateY(-11px) translateX(-11px);
}

.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px) translateX(12px);
    -webkit-transform: rotate(-45deg) translateY(-11px) translateX(12px);
    -moz-transform: rotate(-45deg) translateY(-11px) translateX(12px);
    -ms-transform: rotate(-45deg) translateY(-11px) translateX(12px);
    -o-transform: rotate(-45deg) translateY(-11px) translateX(12px);
}



/* @media (min-width: 992px) {
    .button{
        display: none;
    }
} */