.row{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-bottom: 40px;
}

.row input{
    height: 30px;
    padding: 10px;
}

.button{
    width: fit-content;
    min-height: 40px;
    padding: 5px 15px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radios{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
    padding: 20px;
}

.item{
    padding: 5px 15px;
    background-color: var(--dark-bg-color);
    color: var(--main-light-color);
    cursor: pointer;
    border: 1px solid ;
    transition-duration: var(--hover-duration);
}

.item:hover{
    transform: scale(1.05);

}

.active {
    background-color: var(--half-transparent-bl)
}